<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Logo</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="emp-list">Employees List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-emp">Add Employee</a>
        </li>
        <li class="nav-item dropdown">
          <span
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            >Directive</span
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="structural-dir"
                >Structure Dir</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="attribute-dir"
                >Attribute Dir</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <span
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            >Control Flow</span
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="if-else">If-Else</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="for-switch">For, Switch</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pipe">Pipe</a>
        </li>
        <li class="nav-item dropdown">
          <span
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            >Forms</span
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="template-form">Template</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="reactive-form">Reactive</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <span
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            >Api-Integration</span
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="get-api">get-api</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="post-api">post-api</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
