<div class="mt-2 p-2 bg-secondary text-white rounded">
  <h4>Reactive Form</h4>
</div>

<div class="row">
  <div class="col-8">
    <form class="row g-3" [formGroup]="studentForm">
      <div class="col-md-4">
        <label class="form-label">First name</label>
        <input formControlName="firstName" type="text" class="form-control" />
        <div class="text-danger">
          @if (studentForm.controls['firstName'].touched &&
          studentForm.controls['firstName'].errors?.['required']) {
          <span>First Name is required.</span>
          } @else if (studentForm.controls['firstName'].touched &&
          studentForm.controls['firstName'].errors?.['minlength']) {
          <span>Min 4 characters required</span>
          }
        </div>
      </div>
      <div class="col-md-4">
        <label class="form-label">Last name</label>
        <input formControlName="lastName" type="text" class="form-control" />
      </div>
      <div class="col-md-4">
        <label class="form-label">Username</label>
        <div class="input-group">
          <span class="input-group-text"><span>&#64;</span></span>
          <input formControlName="userName" type="text" class="form-control" />
        </div>
        <div class="text-danger">
          <div class="text-danger">
            @if (studentForm.controls['userName'].touched &&
            studentForm.controls['userName'].errors?.['required']) {
            <span>Username is required.</span>
            } @else if (studentForm.controls['userName'].touched &&
            studentForm.controls['userName'].errors?.['email']) {
            <span>Envalid username.</span>
            }
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <label class="form-label">City</label>
        <input formControlName="city" type="text" class="form-control" />
      </div>
      <div class="col-md-4">
        <label class="form-label">State</label>
        <select formControlName="state" class="form-select">
          <option selected disabled value="">Choose...</option>
          <option>Bihar</option>
          <option>UP</option>
          <option>Panjab</option>
          <option>Goa</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label">Zip</label>
        <input formControlName="zip" type="text" class="form-control" />
      </div>

      <div class="col-12">
        <div class="form-check">
          <input
            formControlName="isAcceptTerms"
            class="form-check-input"
            type="checkbox"
          />
          <label class="form-check-label">
            Agree to terms and conditions
          </label>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-secondary" type="button" (click)="resetForm()">
          Reset Form
        </button>
        <button
          class="btn btn-primary mx-2"
          type="button"
          [disabled]="studentForm.invalid"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
  <div class="col-4"></div>
</div>
